.container.header{
  display: flex;
  background-color: rgba(243, 243, 245, 0.6);
  margin: 10px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;

}
.container .spin {
  display: flex;
  background-color: rgba(243, 243, 245, 0.6);
  margin: 10px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;

}

.container .films{ 
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(243, 243, 245, 0.6);
  margin: 10px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;

}

.header{
  display: flex;
  background-color: rgba(243, 243, 245, 0.6);
  border-radius: 20px;
  margin: 10px;
} 


.wheel{
  max-width:20%;
  height:auto;
  right: 6px;
  bottom: -140px;
}
.arrow{
  max-width:10%;
  height:20%;
}

.castle{
  position: relative;
  max-width:34%;
  height:auto;
  left: 266px;
  bottom: 2px;
}

.txt{

  font-family: 'Pacifico', cursive;
  color: black;
  font-size:50px;
  margin: 5px;
  padding: 10px;

}


#result{
  max-width:10%;
  height:20%;
  transition-delay: 10s;
}

body{
  background: url('./images/background.png') no-repeat center scroll;     
  background-size: cover;
}

.row {
  display: flex;
  padding: 25px;
}
.column {
  flex: 25%;
  padding: 40px;
  left: 0;
  height: 500px;
}
.poster1 {
  width:294px; 
  height:430px;
  top: 0;
  left: 0;
  z-index: 1;
}

.column .poster2 {
  display: none;
  position: relative;
  top: -627px;
  left: 0px;
  z-index: 2;
}

.column .poster3 {
  display: none;
  position: relative;
  top: -622px;
  left: 0px;
  z-index: 2;

}
.column .poster4 {
  display: none;
  position: relative;
  top: -645px;
  left: 0px;
  z-index: 2;

}
.column .poster5 {
  display: none;
  position: relative;
  top: -618px;
  left: 0px;
  z-index: 2;

}
.column:hover .poster2 {
  display: inline;
}
.column:hover .poster3 {
  display: inline;
}
.column:hover .poster4 {
  display: inline;
}
.column:hover .poster5 {
  display: inline;
}

.search-box{
  position: absolute;
  top: 5%;
  left: 13%;
  transform: translate(-10%,-40%);
  background: white;
  height: 20px;
  border-radius: 50px;
  padding: 9px;
}

.search-txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: black;
  font-size: 16px;
  transition: 0.24;
  line-height: 20px;
  width: 600px;
}

nav
{
    overflow: hidden;
    background-color: transparent;
    top: 0;
}
nav a
{
  position: sticky;
    cursor: pointer;
    float: right;
    color: rgb(10, 137, 221);
    background-color: #fff;
    text-align: center;
    font-family: 'Pacifico', cursive;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
   
}
nav a:hover
{
    background-color: #ddd;
    color: rgb(10, 10, 10);
}
nav a:active
{
    background-color: #fa7d17;
}

